body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057; 
    line-height: 1.6; 
}

nav {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    transition: color 0.3s ease; 
    font-size: 1.2rem;
    font-weight: 600;
}

.center {
    text-align: center;
    margin: 50px auto;
}

#banner {
    background-color: #dc3545;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center; 
}

#banner span {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#clock {
    font-size: 5rem;
    color: #01d3fd; 
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

nav a:hover {
    color: #0056b3;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #fff;
        color: #495057;
    }
}
